<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">Electronic Health Records</a>
        </div>
    </div>
</nav>
