<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">Electronic Health Records</a>
        </div>
		<div class="navbar-text">
			<a href="#" id="logout" class="navbar-link">logout</a> | 
			<a href="#" id="langEN" class="navbar-link lang">EN</a> | 
			<a href="#" id="langES" class="navbar-link lang">ES</a>
		</div>
    </div>
</nav>
