<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="views/css/main.css" rel="stylesheet">
		
		<script src="views/js/jquery-1.11.3.min.js"></script>
        <script src="views/bootstrap/js/bootstrap.min.js"></script>
		<script src="views/js/jquery.easyModal.js"></script>
		
        <script src="views/js/main.js"></script>
        <script src="views/js/{{ js }}"></script>
    </head>
    <body>
        {% include incHeader %}
        {% include incBody %}
        {% include incFooter %}
		
		<div id="pleaseWait" class="text-center">Please Wait...</div>
        <div id="lang" class="{{ lang }}"></div>
    </body>
</html>
